.search{
position:relative;
height: 40px;
border: 5px solid #ddd;
margin-left: 650px;
display: inline;
color: grey;
width: 400px;
}
input{
width: 400px;
height: 35px;
position: relative;
font-size: 25px;
}
h2{
border: .33px solid blue;
background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxATEBUTEw8VFRUXFRUXFRUXFQ8PGBUSFREWFhUXFxUYHSggGBolHRUVITEhJSk3Li4uFx8zODYtNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAcAAEAAwADAQEAAAAAAAAAAAAAAQcIBAUGAgP/xABREAABAQUDBgQODgsAAwAAAAABAAIDBBExIWFxBQYHEkGxCFFU8RMiMjQ1c5GSk5Sz0dLTIyQlQlJVYnJ0hLK0xPAUFRYXGDNDY2SBoVOCov/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwC70nxIeJRcOZBJOwITs2qKWBKYoJJlihMlFMUpaa/miCZyqk9pUXnmS8oJB2lAVFcErhvQSDPBJzwUVwS4IJnxITsCi4cyUsCCSdgQnuqKYpS8oJJkk5VUUtNUvPMgme0oDtKi8pW00QSCgM8FFcN6Vw3oJBngk+JRWwJcOZBJOwITsCilgSmKCSe6pmvml5UgSrVBKlQpQfJOwKKWBSTxVUUxQKYpTFKYpS01QKWmqXnmS88yXlAvKVwSuCVw3oFcN6VwSuCXBAuCXDmS4cyUsCBSwJTFKYpTFApeUpaapS01S8oF55kvKXlK2miBW00SuG9K4b0rhvQK4b0rYErYEuHMgXDmSlgSlgSmKBTFKXlKXlKWmqBS01UgbSovKkDaUEqVE1KD5JliopipJkuHlbKjiFctP4h6y7dsjpmmv+ACpJ2AWlBy6WmqXnmVTRenjJ7LZDELEPAKNexOwbwCZ91fj+/yDn1i/wC+dedBb44ylcFUB0+QfIX/AHzrzo1p8g+Qv++dedBb9cN6VwVQNafYPkL/AL5150On2D5C/wC+dedBb9wS4cyqD9/sHLrF/wB8686DT7By6xf98686C36WBKYqoBp8g+Qv++dedGdPkHyF/wB8686C36YpS01/NiqBnT5B8hf98686DT5Bz6xf98686C37zzJeVUH7/IOfWL/vnXnQ6fIPkL/vnXnQW/W00SuG9VA1p8g+Qv8AvnXnRrT7B8hf98686C364b0uCqA6fYPkL/vnXnT9/sHLrF/3zrzoLfuHMlLAqgGn2Dl1i/75150GnyD5C/75150Fv0xSl5VQM6fIPkL/AL5150Z0+QfIX/fOvOgt+lpr+aJeVUA0+Qc+sX/fOvOpY0+QRaE4KIlcXLUv9TE0FvXlSLbV0WamdsFlF2XkM+1tWWu7a6Rt2TTXZ4rDIiwyNti70W4b0H1NERB8my1Zn05Z0txWUGoZlr2GGOoGQbGn0vZGzeD0t2qeMrTEtqxhnE8LUZENGpfviTeXrRKDrkREBERAREQEREBEKICJNEBERARAiAiIgIiICIiAiIg7rM/OF5ARjqJdk9KZPGQZB46PVsEbZjjoQDsWwod+y8YZbYM2GmQ0yeNloTH/AArEa17o5eFrJMF9GdCdzLAAHcCD0qKJKUHzJYty8fbT/tz3yjS2lJYuy8fbT/tz3yjSDgIi5DmBetOm3rLtpp27LAeNgEhgvJ6msdk9UgYIOOu7zVzqjMnveiwz3VnLXYaGu7eAbG2NuNROwhdIiDUmYOkuCygGXZAcRNOgtkSbMpkum/f4VrZK1e61ANgngFiJhogggyItBFkiKSVuaPtM71xquY/WfOrAH46Z6wKdP/5Gb+qr1VEGgdQDYJ4BNQC0gTwC42TMouH7pl85esvWGupbYIaBuuI2ioXKvPMgjUFSB3AgYFSB3ApvKVtNEEBgG2QlgE1AdglgLVNcN6Vw3oI1AdglgLU1AbAB3ApuCXDmQRqCgA7gsTUFAB3AppYEpigjUA2CeATUA2AnAKaXlKWmqCNQC0gTwC6zODLkJBOS+inrDtmgna00ZdSwyLWmsF4XP7S9DQms6hdWIiLQSDNy6Pymh1bXyWb5kUVAZfy7Exj4voh808bO00ZHwWGRYyzcEHtdIGlmJjtZzDgw8MbJCQevB8tsdSD8Fm+ZKrhEQEXJcQD5p28esummnbvV6I2AdVjWaDLOs1QEkiQ8y4yAtd6NT7kQQ/x3f2VkRa70an3Igh/ju/soPTSUqFKD5IngsXZe66f9ue+UaW0SsW5d66f9ue+UaQcFXbwa2A0MoMkAgiGBBAIIP6QCCDVUkrv4NBtj/qv4hBztIGhZ09m+ydJ28tLUOTJ212to/wAs1sPS/NVF5RgHzh606fOmnbxkyaYaBZI/0dl+1bWpiugzvzOgsoOtSJdTaAOo9Zky8dk/Ba4rjMXIMfovb5+6NI3JxLcujQ07HzAPS3PWasG+lLZ2LxCDvs0s74zJz3XhnsgerdtTadvPnMTreJG9aMzD0lQWUgGNYOYiVrhsjpjK0umv6grZUSptWVV9MNlkgskgggggkEEGYIOwoNu1tNErhvVBZgaaHjrVcZRJeO7AIgDWeM9sA/mM3jpvnK9YCOdP3bLxy8ZeO2hNltghoNYEIORXDelbAlbAlw5kC4cyUsCUsCUxQKYpS8pTFVdn9phhoTWcwerERAmGm7S5dHEfzDcyZcZmJIPe5xZxQkC5L6KfBgbBVps/BYYFrR/JWec/9LEXH6zpxOHhjMFkH2R4z/cbFAfgiysyV4rLmWomMfF9EPmnrw7Wtg4mWRYyzcBJdegIi77NLNCNyg96HDOpgdW9amy7d/OblW4TJ2BB0TLJJAAmTYALTM7Berb0faGHz/Vfx+s5dWEOR0r1sV6f/wAY/wDqvU1VlZg6MYLJ8nhHR4ja+bA6UykQ6Z94L+qtNsrF7k22BBXOlvJriGzefuYdyy7dslxJlkSE/wBJdzN54ybSszLUmnA+4cSB8Jx95drLaAtd6NT7kQX0d39lZEWu9GtmSIL6O7+yg9OihSg+SsW5dHtp/wBue+UaW0ieJYty6PbT/tz3yjSDgq7+DQ1bH/VfxCpBXfwaDbH/AFX8QgvCl5SlpqlLTX80S8oIaYBB1gCCJEG0SNRLaqiz+0Lunwaf5P1XLyphydV03x6h/pm7qadSrevKVtNEGKsp5OfQ71p0/dNO3jJk0y2CyReOMHYRYVxVsLOvNKDyi61Il0DIHUeMyZeOydrDewXGwytCzvn5oxjMnFp4yOjw07HzAM2B/dY97jS8Tkg8KvRZn55xuTnmtDvekJm25am07eYs7D8oSK86iDVuYmkaDykyGGD0GIl0zhsid5dtUeDC0bQF7KlgWI3TxploNMtFlpkgskEskNAzBBFCONWZm7ptyi4YDD527iQKNN6zt4cW2bGsSJ8ZKDSFMV1Gc2csJk9yXsS+DA96z1TbxriYYFp3DbJUrlDT1GNMkOYNy6aPv2mm38rwJMjuqr8s5XiIt8X0Q+aevDVpo7NgAFjLNpsFiD2mf2lWMj9Z06nDwxmCwyeneM/3Gxs+SLLbdaqr1EQF9MMEkMsgkkgAAEkk0AG0rv8ANDM2Nyi81Id10oMm3zU2Xbv5zUq3CZuWicwtGkFk4BsM9GiJWv2wJgyt6Gz/AExW+9BWuj7Qs9far/KGs6d2FlwDJ62K+yH+mzd1Vp6lXrkzJzlw6ZcuHTLp0zYGWAGRfieM1K5VcN6VsCBWwJcOZLhzJcEHhNOEhkOIHynH3l2strUmnCQyHED5Tj7y7WW0Ba70a9iIL6O7+ysiLXejUe5EEf8AHd/ZQemUqFKD5JWLcuj20/7c98o0tpErFuXeun/bnvlGkHBV38Ggicf9V/EKkFd/BnlOPP0X8QgvC88yXlLylbTRAraaJXDelcN6Vw3oFcN6NCdkrKHbZxJWwJcOZBUuf2hhw/1n0BquHtS56ly382X8trDpbhVUNlbJb+GetOYh006eM1ZaEjcRsIOwiwradLAulzqzVg49z0KJdBuuo2OleOydrDezCh2goMdIvfZ/6LYzJ83jE38NaeissnWdj+6wOp+cLMJyXgUBEXo8zsy43KLzVh3cnYMnj5qbLt3tta2mnSi23itQeedsFohlkFpokAAAkkkyAAFSrj0f6FXjzVf5Rm7YqIcGTxof3Gh1A+SOm+arIzD0cQWTWQ2yz0V/Lpn7YE6W9DZo7FaW8ZK9lXDeg4+T4B05dsunLpl26ZEmWGQGR3B+SuRXDelcN6VsCBWwJcOZLhzJcEC4JSwVSlgqlLyg8JpwEshxPznH3l2strUmm8e4cTx6zj7y7WW0Ba70aD3Igj/ju/srIi13o1HuRBfR3f2UHppqVE1KD5Nixbl7rp/2575RpbSKxbl3rp/2575RpBwVd/BnAnH/AFX8QqQV38GcWx/1X8QgvCtpolcN6Vw3pXDegVw3pWwJWwJcOZAuHMlLAlLAlMUCmKUxSl5SlpqgECVts/zJeAzg0QZJiWi86G3DttGbXQGmWGSfmNMtMj/1AXv7yl5QVnkvQhkl01rPGn74fAbeMss/76Gyyf8AqsWBg3Tp2y7du2XbtkSZYZAYZAwC/etpolcN6BXDelcN6Vw3pWwIFbAlw5kuHMlwQLglLBVKWCqUvKBTFKWmqUtNUvKDwmm8e4cTP4Tj7y7WW1qTTgPcOJ+c4+8u1ltAWu9Go9yILi/R3f2VkRa70a9iILi/R3f2UHp0REHzLasW5ePtp/2575RpbSksW5ePtp/2575RpBwVd/BnZtj/AKr+IVIK7+DQLY/6r+IQXhXBK2BSeIIeIIIuHMlLAppYEpigimKUvKml5Slu1BFLTX80S8qQNpQDaUEXlK2mimU6qK4b0CuG9K4b0NuG9SeJBFbAlw5lJ4glLAgi4JSwVU0pVKXlBFLylLTVTS3agG0oIvKXnmUgbSgE7Sg8HpwtyHEn5TiXjLtZbWpNOE/1HE/OcfeXay2gLXejXsRBfR3f2VkRa70an3Igh/ju/soPTyRRJSg+SFi/OBmUXEA1D96Dd7K0toETwWX9NWbbUJlN49DPsMSS9dtSs1z/ADWcQ0ScGggr9cmDyg+dT6E+eO9aU9Rtt3OU5T1SJ1PdXGRB2Qy/G8tiPDPvSQZfjeWxHhn3pLrUQdkMvxvLYjwz70k/X8by2I8M+9JdaiDsv2gjeWRHhn3pJ+0EbyyI8M+9JdaiDsjnBG8tiPDPvSQ5wRvLYjwz70l1qIOyOcEby2I8M+9JP2gjeWxHhn3pLrUQdl+0Eby2I8M+9JBl+N5bEeGfekutRB2Qy/G8tiPDPvSQZfjeWxHhn3pLrUQdl+v43lsR4Z96Sfr+N5ZEeGfekutRB2X7QRvLIjwz70kOcEby2I8M+9JdaiDsjnBG8tiPDPvSQ5wRvLYjwz70l1qIOdE5XinjJYeRL5tkymy08eNsmRmJgmS4KIgLXujgEZIghK39GdH/AEWARvWVs2chvY2LdQzoEtPGgCZTDDHv2zcyJn/S2NBQzDl2w6YEmWGGWGRxMsMhkf8AAEH7qVClB8kTwXV5x5Aho5wYeIdBt2TPiLDQo0w0LWWhOt5BsJC7Q8Si4cyClIzg/sFs9Cyk0yxsDbgPGhi0y2yD3F+B4PzU+yg8WPrVeVLAlMUFGtcH5r40Hix9apa4PzXxoPFj61XjS8pS01/NEFHHg/NfGg8WPrU/h+al2UHix9arxvKXlBRw4PzUuygH1Y+tRng/NfGg8WPrVeNbTRK4b0FGs8H5r40Hix9ajPB+a+NB4sfWq8q4b0rYEFGjg/NT7KDxY+tT+H5qfZQeLH1qvK4cyXBBRp4PzU+yg8WPrUa4PzXxoPFj61XlSwVSl5QUc1wfmvjQeLH1qHg/NfGg8WPrVeNLTVLygo48H5qXZQeLH1qfw/NS7KAfVj61XjeeZK2lBRw4PzXxoPFj61GeD818aDxY+tV41w3pXDego1ng/NfGg8WPrUHB+an2UHix9aryrYKJcEFG/wAPzU+yg8WPrV9M8H46wnlSY2yhpWY9FV4XBKWCqDzOZWY0HkxghwyWnrYk2+bkW2hOcrBJlm4cQnNenFmKil5UizFBKlQpQfJOwKKWBSTsCimKBTFKXlKXlKWmqBS01/NiXlLyl5QLylbTRK2miVw3oFcN6Vw3pXDelbAgVsCXDmS4cyXBAuCUsFUpYKpS8oFLylLTVKWmqXlAvKXnmS88yVtKBW0pXDelcN6Vw3oFcN6VsFErYKJcEC4JcEuCUsFUClgqlLylLylMUCmKkDaVFLSpA2lBKlEQfJPdUUxX0VAErdqCKWmqXlSBtKAbSgi8pW00UynVJTw3oIrhvSuG9SbcEPEgitgS4cyk8QS4IIuCUsFVNKVSUrygil5SlpqpAlbtQDaUEXlLzzKQNpSU6oIraUrhvUynhvQ24b0EVw3pWwUUniQ8QQRcEuCm4JSiCKWCqUvKmUrygEsUEUxSlpUgbSgG0oIvPMpFtpSU7SlcEEzUoiCEUoghCpRAKIiAoClEEBFKIChSiCEUoggoVKICIiAFAUoghFKIIRSiCFKIggqURBCIiD//2Q==");
height: 100px;
background-repeat: no-repeat;
background-size: normal;
position: relative;
background-position: center;
font-style: oblique;
font-family: 'Courier New', Courier, monospace;
font-size: 25px;
background-color: rgb(205, 209, 230);
}
ul{
 list-style: none;   
}
.a:hover{
    color: rgb(163, 99, 99);
}
.b:hover{
    color: rgb(163, 99, 99);
}
.c:hover{
    color:rgb(163, 99, 99);
}
.d:hover{
    color:rgb(163, 99, 99);
}
.e:hover{
    color: rgb(163, 99, 99);
}
.f:hover{
    color: rgb(163, 99, 99);
}
.g:hover{
    color: rgb(163, 99, 99);
}
.glyphicon:hover{
    color: white;
}
.content-table {
    border-collapse: collapse;
    margin-left: 15%;
    margin-top: -500px;
    font-size: 20px;
    width:75%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  }
  .content-table thead tr {
    background-color: orangered;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .z:hover{
      color:gray;
  }
  .y:hover{
    color:gray;
  }
  .x:hover{
    color:gray;
  }
  .w:hover{
    color:gray;
  }
  .v:hover{
    color:gray;
  }
  .add{
      text-align: center;
      margin-bottom:-100px;
      margin-right:0px;
  }