body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-left: 0;
}

.card {
  flex-basis: 25% !important;
  margin-bottom: 15px !important; 
}

.search-results .card:hover {
  cursor: pointer;
}

.search-results .card-body {
  padding-bottom: 0;
}

.search-results .card-text {
  padding: 0 1.25rem 0.75rem;
}

.videoplayer-wrapper {
  background-color: black;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  margin: 25px auto;
}

.videoplayer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}