h1{
  background-color: #FFBF2F;
  align: center;
  text-transform: upperscase;
}

h2{
  style: italic;
}

td{
  border: 1px solid ;
}
.a{
  
  background-color:#FA3B19;
}

.b{
 background-color:#FFA94D; 
}

.c{
  background-color:#FF9C34;
}

.d{
  background-color:#0083B3;
}

.e{
  background-color:#33C9FF;
}

.f{
  
  background-color:#B31712;
}

.g{
 background-color:#FF534D; 
}

.h{
  background-color:#FF3A33;
}

.i{
  background-color:#3BB366;
}

.j{
  background-color:#33FF7A;
}

.k{
  
  background-color:#8210B3;
}

.l{
 background-color:#C94AFF; 
}

.m{
  background-color:#C231FF;
}

.n{
  background-color:#92B339;
}

.o{
  background-color:#C8FF30;
}

.p{
  
  background-color:#1520B3;
}

.q{
 background-color:#525DFF; 
}

.r{
  background-color:#3945FF;
}

.s{
  background-color:#B39A3E;
}

.t{
  background-color:#FFD638;
}

.u{
  
  background-color:#15B3A7;
}

.v{
 background-color:#52FFF3; 
}

.w{
  background-color:#B36842;
}

.x{
  background-color:#FF8C52;
}

.y{
  background-color:#FF704F;
}

.z{
  
  background-color:#FF4B83;
}

.ab{
 background-color:#B34064; 
}

.cd{
  background-color:#4FFF61;
}

.ef{
  background-color:#4FFF61;
}

.gh
  background-color:#FAFFFB;
}

.oi{
background-color: #B4BAB3;
}
form{
  background-color:#B4BAB3;
}
.ko{ background-color:#52FFF3; }

.lo{
  background-color:#004FFF;
}

.hover botton{
  
}
