* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: steelblue;
}

header {
}

nav {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

main {
    width: 80%;
    display: inline-block;
    max-height: 80%;
}

footer {
}

#advrt {
    text-align: center;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 2px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

tr:nth-child(2n) {
    background-color: aliceblue;
}

li, td, th, #advrt, header h4 {
    padding: 15px;
    border: 1px solid aliceblue;
}
html {
    font-size: calc(8px + 1vmin)
}
nav li {
    margin: 1px;
}

tr:hover td {
    background-color: steelblue;
    color: white;
}

  nav li:hover {
    border: none;
}