body{
    background-image: url("gmail.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 600px;
}

.header{
    border: solid whitesmoke 4px;
    margin-bottom: 40px;
}

.main{
    display: flex;
}

.nav{
    border: solid whitesmoke 3px;
    padding-right:150px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 100px;
    font-size: 1.5em;
}

.content{
    border: solid whitesmoke 3px;
    padding-left: 0;
    padding-right:0;
    padding-bottom: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 110px;
    font-size: 1.5em;    
}

.th1{
    text-align: left;
}

.rc1{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.rc2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 140px;
}

.rc3{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 90px;
}

ul{
    list-style-type: none;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited {
  color: unset;
}

a:hover{
    color: aliceblue;
    text-decoration: underline;
}

a:active{
    color: orangered;
}

h1{
    border: solid whitesmoke 3px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 180px;
    margin-right: 100px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 150%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #menu-nav {
    max-width:300px;
    margin: 1px auto;
    background-color: #ecf0f1;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
   
  #navigation-bar ul {
    border-radius: 4px;
    overflow: hidden;
  }
  #navigation-bar li {
    float: left;
    width: 20%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar a {
    color: #848484;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: #e74c3c;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
   
  li {
      list-style: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
      }
      
      li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
      }
      
      li a.active {
        background-color: #4CAF50;
        color: white;
      }
      
      li a:hover:not(.active) {
        background-color: #555;
        color: white;

       