body{
  background-image: url("https://images.unsplash.com/photo-1516321165247-4aa89a48be28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1094&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  background-color: #a02468;
  padding-left: 20px;
}
.nav_menu ul li{
  height: 40px;
  text-align: center;
  font-size: 30px;
  list-style: none;
  background-color: #f2951d;
}
.nav_menu ul li:hover{
  background-color: #033299;
  font-weight:bold;
}
.nav_menu{
  vertical-align: top;
  display: inline-block;
  width: 300px;

}
.mail_ui{
  display: inline-block;
}
.mail_ui table{
  border-collapse: collapse;
}
.mail_ui table tr th{
  font-size: 18px;
  color: #FFF;
  padding: 10px 4px 10px 4px;
  background-color: #a02468;
}
.mail_ui table tr td{
  background-color: #f2951d;
  opacity: 0.75;
  font-size: 20px;
  border: 1px solid grey;
  padding: 4px 8px;
}
.mail_ui table tr td a{
  text-decoration: none;
}

#from{
  border-right: 1px solid white;
  width: 95px;
}
#subject{
  border-right: 1px solid white;
  width:400px;
}
#date{
  border-right: 1px solid white;
}
.ad{
  text-align: center;
  width: 960px;
  height: 70px;
  background-color: #9e2170;
}
