* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    
}

header h4 {
    margin: 0;
    padding: 20px;
}

header {
    border-radius: 0 0 0px 10px;
    box-shadow: 0px 1px 1px 1px #6495ed14;
    border-left: 6px solid cornflowerblue;
}

nav {
    width: calc(30% - 10px);
    display: inline-block;
    vertical-align: top;
    margin-top: -1px;
    background-color: white;
    margin-left: 6px;
}

main {
    width: 70%;
    display: inline-block;
    margin-top: 1px;
}

footer {
}

#advrt {
    text-align: center;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 1px -2px 2px 2px #ccdfff1a;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: inset -3px 0px 1px 1px #7fadff17, inset 0px -2px 2px #71a4ff14, 2px 0px 2px #6495ed24;
    border-radius: 0px 0px 10px 10px;
}
tr {
    width: 100%;
    display: inline-table;
}
td, th {
    padding: 20px;
    border-top: 2px solid aliceblue;
}
html {
    font-size: calc(6px + 1vmin);
    color: cornflowerblue;
}
nav li {
    margin: 1px;
    border-left: 6px solid cornflowerblue;
    border-bottom: 1px solid aliceblue;
    border-radius: 0px 10px 10px 10px;
    padding: 20px 0px;
    text-align: center;
}

nav li:last-child {}

tr:hover td {
    background-color: aliceblue;
}

  nav li:hover {
    background-color: aliceblue;
    border-radius: 0px 0px 10px 10px;
}
table tbody, table thead
{
    display: block;
    overflow: auto;
}
tbody {
    height: calc(100vh - 200px);
}
thead {
    box-shadow: 0 2px 2px 2px aliceblue;
}