body{
    background-image: url("gmail.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 600px;
}

.header{
    border: solid whitesmoke 4px;
    margin-bottom: 30px;
}

.main{
    display: flex;
}

.nav{
    border: solid whitesmoke 3px;
    padding-right:150px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 100px;
    font-size: 1.5em;
}

.content{
    border: solid whitesmoke 3px;
    padding-left: 0;
    padding-right:0;
    padding-bottom: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 110px;
    font-size: 1.5em;    
}

.th1{
    text-align: left;
}

.rc1{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.rc2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 140px;
}

.rc3{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 90px;
}

ul{
    list-style-type: none;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited {
  color: unset;
}

a:hover{
    color: aliceblue;
    text-decoration: underline;
}

a:active{
    color: orangered;
}

h1{
    border: solid whitesmoke 3px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 180px;
    margin-right: 100px;
}

