body {
  font-family: 'Cinzel Decorative', cursive;
  background: url(https://s.cdpn.io/3/blurry-blue.jpg);
  background-size: cover;
  color: black;

}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.dec{
	text-align-last: center;
}
.sign{

	margin: auto;
}
img{
	float: right;
	border-radius: 1em;
}