.header img {
    position: fixed;
    margin-left: 0px;
    color: fuchsia;
    
    }
    .header h4{
    position:fixed;
    word-spacing: 35px;
    color: black; 
    margin-left: 100px;  
    font-family: cursive;
    }
    .header{
    border: 2px solid white;
    height: 65px;
    padding: 3px;
    opacity: 1;
    }
    span{
    word-spacing: 5px;
    }
    .input{ 
    margin-left: 680px;
    position: fixed;
    width:380px;
    cursor: pointer;
    box-shadow: 1PX 1PX 1PX  #e5e5e5;
    }
    input{
    width:350px; 
    height:35px;  
    position: relative;
    }
    .profile{
    position: fixed;
    margin-left: 1100px;
    }
    .material-icons{
    width:45px;
    margin-left:10px;
    }
    .navbar{
    position: fixed;
    }
    .sidenav {
    height: 550px;
    width: 250px;
    position: fixed;
    top: 70;
    margin-left: 0px;
    background-color:white;
    padding-top: 10px;
    padding-left:10px;
    overflow-x: scroll;
    overflow-y: scroll;
    }
    .sidenav a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: inline;
    }
    input[type="checkbox"]{
      width: 15px;
      height: 15px;
      text-align: right;
    }
    li{
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 16px;
    word-spacing: 3px;
    text-align: left;
    text-justify: auto;
    line-height: 50px;
    }
    .main{
    margin-left: 1100px;
    margin-top: -20px;
    position: fixed;
    }
    .ddbutton{
    font-size: 10px;
    margin-left: 1150px;
    margin-top: -20px; 
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px;
    background-color: #ffffff;
    cursor: pointer;
    width: 70px;
    position: fixed;
    }
    .ddbutton:hover{
    background-color: gray;
    }
    .ddmenu{
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    background-color: #ffffff;
    list-style-type: none;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-left: 1050px;
    margin-top:-500px;
    }
    .dropdown {
    display: inline-block;
    position: relative;
    }
    .ddmenu li {
    padding: 10px 20px;
    cursor: pointer;
    }
    .ddmenu li:hover {
    background-color: black;
    }
    .ddbutton:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 5px;
    transform: translateY(-50%);
    width: 3px; 
    height: 3px; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid black;
    margin-left: 600px;
    }
    .dhoni{
    margin-left:300px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 15px;
    background-color: #fff;
    color: #444;
    }
    .ms {
    background-color: lightsalmon;
    color: rgb(61, 21, 46);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    display:inline-block;
    text-align:center;
    letter-spacing: 1px;
    line-height: 1.2;
    }
    .ms:hover{
    border: solid 1px rgb(88,20,20);
    -moz-box-shadow: 1px 1px 5px rgb(88, 20, 20);
    -webkit-box-shadow: 1px 1px 5px rgb(88, 20, 20);
    box-shadow: 1px 1px 5px rgb(88, 20, 20);
    }
    .dhoni div>img{
    height:100%;
    width:100%;
    }
    
      
    
    
    