* {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin: 10px;
}
input {
    height: 20px;
}

button{
    padding: 5px;
    color: red;
}
div {
    border: 2px solid green;
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    display: none;
}