
html, body {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.myshop p {
    position: fixed;
    top: -23px;
    left: 50%;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    color: red;
    background-color: gold;
    border-radius: 50%;
    padding: 5px;
    z-index: 500;
}
/* Top Navigation Header - Defined as Grid
with 2 Rows - Women/men/Kids Categories and
Main Menu options */
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr) max-content 1fr max-content repeat(3, 1fr) max-content;
    grid-template-rows: 40px 40px;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    z-index: 100;
}

.container a {
    color: #272222;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.container .category a.active {
    background-color: #998E8E;
    color: white;
}

.container a:hover {
  background-color: #998E8E;
  color: white;
}

.container .menu {
    font-family: sans-serif;
    font-size: 12px;
}

.menu span.active {
    color: crimson;
}

.container .menu:hover {
    color: crimson;
    cursor: pointer;
}

#menu1 { grid-row: 2/3; grid-column: 1/2;}
#menu2 { grid-row: 2/3; grid-column: 2/3;}
#menu3 { grid-row: 2/3; grid-column: 3/4;}
#menu4 { grid-row: 2/3; grid-column: 4/5;}
#menu5 { grid-row: 2/3; grid-column: 5/6;}
#menu6 { grid-row: 2/3; grid-column: 6/7;}
#menu7 { grid-row: 2/3; grid-column: 7/8;}
#menu8 { grid-row: 2/3; grid-column: 8/9;}
#menu9 { grid-row: 2/3; grid-column: 9/10;}
#menu10 { grid-row: 2/3; grid-column: 10/11;}

/* Search box defined below */

.search-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: fixed;
    top: 40px;
    left: 85%;
    vertical-align: middle;
}
.search-container input, .search-container button {
    height: 30px;
    width: 130px;
}

.search-container button {
  background-color: black;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.container .search-container button:hover {
    background: #ccc;
}

/* Sidebar with filters defined below */
.sidebar {
    display: grid;
    grid-template-rows: repeat(auto, 40px);
    grid-template-columns: 150px;
    background-color: #FFFCF6;
    height: 80%;
    position: fixed;
    top: 80px;
    left: 40px;
    overflow-y: scroll;
}

.sidebar>div, .sidebar a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-family: fantasy;
}

.sidebar .style_, .sidebar .color_ {
    font-size: 14px;
    font-family: serif;
    margin-left: 20px;
}

.sidebar .style a:hover {
    display: grid;
}

.sidebar .color a:hover {
    display: grid;
}

.sidebar .filter #catplus:after, .sidebar .style #styleplus:after,
.sidebar .color #colorplus:after, .sidebar .type #typeplus:after,
.sidebar .size #sizeplus:after, .sidebar .pattern #patternplus:after,
.sidebar .length #lenplus:after {
    content: '\2214';
    float:right;
}

/* Product catalog styling detailed below */
.collection {
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    height: 80%;
    width: 80%;
    position: fixed;
    top: 120px;
    left: 220px;
    overflow-y: scroll;
}

.collection div {
    height: 260px;
    width: 200px;
    margin: 2px;
    border: 1px solid green;
}

.collection p {
    font-size: 10px;
    color: grey;
    line-height: 1px;
}

.collection img {
    height: 200px;
    width: 150px;
}

.collection .like_it {
    float: right;
}

.collection .price {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

/* Sort By defined below */
.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 14px;
    position: sticky;
    top: 80px;
    left: 1000px;
}
