.wrapper{display: grid;
grid-template-columns: 1fr 2fr 1fr;
border: 1px solid #f76707;
background-color: #fff4e6;
height: 100%;
width: 100%;}
.wrapper > div {border: 2px solid #ffa94d;
padding: 1em;
color: #d9480f;/*
height: 100%;*/}
.box1 {grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
display: grid;
grid-template-columns: 1fr 1fr 1fr 4fr}
.box2 {grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;
padding: 10em;
display: grid;
grid-template-columns: repeat(10, 1fr);
   /* border: 1px solid #ffec99;
*height: 300px;*/
}
.nested {border: 2px solid #ffec99;
padding: 1em;
border-radius: 2px;
margin-top: 20px;}
#nested {border: 1px solid green;
text-align: center;
padding: 20px ;}
.box3 {height: auto;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr; /*grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 3;
grid-row-end: 4;*/}
.box4 {height: auto;
}
.box5 {height: auto;}
.nested2 {border: 1px solid #ffec99;}