body{
	background:#F3E1EF   ;
  }
  
  li {
	  padding: 5px;
  }
  
  header li {
	  list-style: none;
	  display: inline-block;
		padding: 20px 10px 20px 10px;
		font-family: Muli, Arial, Helvetica, sans-serif;
  }
  h1{
	text-align:center;
	
	margin:0;
	padding:10px;
	color:brown;
	font-style:oblique;
	border-radius:15px;
	
  }
  #Firstpart{
	
	border-radius:15px;
	
  }
  .selected{
	background:#efe3e7;
	color:brown;
  }
  ul{
	margin:0;
	padding:0;
	list-style:none;
  }
  .details, .search-bar{
	background:#f3d5e0;
	display:inline-block;
	border-radius:15px;
	font-family: Muli, Arial, Helvetica, sans-serif;
	
  }
  .details a{
   color: black;
   padding: 20px 15px 20px 10px;
	text-decoration: none;
	font-size:16px;
  }
  .details a:hover {
	background-color:#efe3e7;
	color: black;
  }
  
  .details a.active {
	background-color:#efe3e7 ;
	color: brown;
  }
  .details .search-bar {
	float: right;
  }
  .details input[type=text] {
	margin-top: 6px;
	font-size: 16px;
	border: none;
	padding:6px;
  }
  .details .search-bar button {
	float: right;
   padding: 6px 8px;
	margin-top: 6px;
	margin-right: 16px;
	background: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  nav {
	background-color:#ead0d1;
	width:20%;
	float: left;
	padding: 15px;
	margin : 25px 80px 40px 0;
	font-size:16px;
	border-radius:15px;
	font-family: Muli, Arial, Helvetica, sans-serif;
  }
  nav ul{
	list-style-type:none;
	padding:0px;
	color:brown;
	
  }
  .sub-menu{
	display:inline;
  }
  
  
  .sort{
	position:absolute;
	top:250px;
	right:20px;
	float:right;
	font-family: Muli, Arial, Helvetica, sans-serif;
	
  }
  .product-details{
	position:absolute ;
	top:270px;
	left:290px;
	width:70%;
	height:2500px;
	display:flex;
	flex-wrap:wrap;
	border-radius:15px;
  }
  .product{
	text-align:center;
	margin-right:20px;
	margin-bottom:20px;
	height:250px;
	width:250px;
	padding: 10px;
	}
	nav i{
		float: right;
		cursor: pointer;
		font-size: 10px;
	}
	#viewmore{
		text-decoration: none;
		color: brown;
		text-align: center;
	
	}
	#viewmore i{
		float: left;
		font-size: 15px;
		margin-right: 10px;
	}
	h4{
		font-size: 13px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 400;
	}
  