*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display:grid;
    grid-gap: 15px;
    grid-template-rows:100px auto;
    grid-template-areas: 
    "header"
    "container"
    
}
.header{
    display: grid;
    position:sticky;
    top:0;
    grid-template-rows: auto auto;
    grid-template-areas:
    "mainheader"
    "lowernavbar"
}
.mainheader{
    grid-area: mainheader;
    background: white;
    color:#16a085;
    display: grid;
    margin-top: 0;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "mainnav logo carticon"

}
.mainnav{
    grid-area: mainnav;
    
    
}
.mainnav a{
float:left;
text-decoration: none;
background:white; 
color: #16a085;
padding:15px 15px;
margin-top: 3%;
font-size:15px;
font-family: Muli, Arial, Helvetica, sans-serif;
transition: 0.5s,all;


}
.mainnav a:hover{

        color: #e67e22;
        

}
.mainnav .active{
    background: #ecf0f1;
}


.logo{
grid-area: logo;
text-align: center;
color: #D4BCCC;
font-family: 'Cinzel Decorative', cursive;
margin-top: 3%;

}
.carticon{
    
grid-area: carticon;
text-align: right;
color: #4b6584;
margin-top: 5%;
margin-right: 10%;
font-size: 30px;
}
.lowernavbar{
    grid-area: lowernavbar;
    background:#ecf0f1;
    box-shadow: 0 0 5px 0 #ccc;
    display: inline;
    position: relative;
    
}
.lowernavbar a{
    float:left;
    text-decoration: none;
    color:#16a085 ;
    padding:15px 10px;
    font-size:15px;
    font-family: Muli, Arial, Helvetica, sans-serif;
    transition: 0.5s,all;
    
}
.lowernavbar .selected{
       color:tomato;
}
.lowernavbar a:hover{
    color: #e67e22;
}
.lowernavbar a span{
    position: absolute;
    top: 0;
    line-height:1.5;
    font-size: 9px;
    background-color: tomato;
    color: white;
    padding: 0 5px;
}
.nav .search{
    float: right;
    
}
.lowernavbar input[type=text]{
    padding:8px;
    margin-top:8px;
    border-style:ridge;
    border-width:1px;
    font-size:15px;
    float:right;
    background:white;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    
    
}
.lowernavbar .search button{
    padding:8px;
    margin-top:8px;
    border:none;
    font-size:15px;
    background:black;
    color: #ecf0f1;
    cursor: pointer;
    float:right;
    margin-right: 1%;
    border-radius: 10%;

}
.container{
    display:grid;
    grid-gap:1px;
    grid-template-columns: 250px 1100px;
    grid-template-areas:
     "sidebar content"
}
.filterarea{
    grid-area: filterarea;
    background:#ecf0f1;
    color :black;
    padding: 8px;
    box-sizing: border-box;
    height:90%;
    width:15%;
    position:fixed;
    left:0;
    overflow:auto;
    
    
    
    
}
.filterarea ul{
    list-style: none;
  
    
}
.filterarea ul li{
     padding:15px;
     font-family: 'IBM Plex Sans', sans-serif;
}



.content{
    grid-area: content;
    
   
}
.sort-order {
    float:right;
	
	padding: 10px;
}
.icons{
    color: black;
    float:right;
}
.wrapper2 {
    display: grid;
    grid-template-columns:300px 300px 300px;
    
    grid-gap: 15px;
    background-color: #fff;
    color: #444;
    
  }
.product{
       background:#C5C5C5;
       width:300px;
       box-sizing:border-box;
       
}
.product:hover{
    box-shadow: rgb(153, 153, 153) 5px 2px 5px;
}
.product img{
         
         width:300px;
}
.discount{
   background:black;
   color:white;
   width:20%;
  padding:5px;
}
.description{
    background:#FFFFFF;
}
.fa-heart-o{
        float:right;
        font-size:12px;
}
.fa-heart-o:hover{
       color:red;
}
.red{
     background:#B0824A;
     color:#B0824A;
     border:none;
     outline:none;
}
.black{
     background:black;
     border:none;
     outline:none;
  
}
.grey{
    background:grey;
    color:grey;
     border:none;
     outline:none;
}
.color{
    list-style:none;
    display:flex;
    padding:2px;
  
}
.color li{
    padding:2px;
}  
 
