* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

#header_section {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#header_text {
    text-align: center;
}

nav {
    margin: 30px;
    overflow: hidden;
    position: fixed;
    top : 30px;
    width: 100%;
}
nav ul{
    list-style-type: none;
}
nav ul li {
    display: inline;
    padding: 10px;
}

nav form{
    float: right;
}

button {
    margin-right: 50px;
}