* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

#header_section {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#header_text {
    text-align: center;
}