*{
    box-sizing: content-box;
}

body
{
   background-image:url(https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
   background-repeat: no-repeat;
   background-size: cover; 
}

h3
{
color:white; border:2px solid black ;padding: 10px;margin: 40px;
} 

h1{
    color:white;
    padding: 10px;
    margin: 40px;
    text-align: center;
   
}  

a{
    color :red;font-style: oblique ;font-size: 30px ;
}

p{
    font-style: oblique;
    padding: 10px;
    font-size: 20px;
    color: white;
}
h4{
    color: white;
}

.list{
    color:white;
}

<!--div ul:nth-child(1){
   // display: block;
  //  height: 110px;
    //width: 100px;
    //background-color: crimson;
  } -->

#me{
    text-decoration: underline;
}

a:visited{
    color: aqua;
}
<!--a:unvisited{
    color:brown;
}-->

    a:hover{
        color:orchid;
    }

div ol{
    color: white;
}

a:last-child{
    color:brown;
}

span{
    color: white;
}


