body{
    margin: 0;
    padding: 0;
    background: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&w=1000&q=80) no-repeat;
    background-size: cover;
  }
  .box{
    width: 450px;
    background: rgba(36, 35, 35, 0.4);
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-family: 'Cardo', serif;
    border-radius: 10%
  }
  .box-img{
    border-radius: 70%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #0c0b0b;
  }
  